.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(231, 231, 231);
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .map {
        width: 100%;
        height: 100%;
        agm-map {
            width: 100%;
            height: 100%;
        }
    }

    .card-detail {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 280px;

        mat-card {
            width: 100%;
            height: 100%;
            background-color: white;
            color: black;
            mat-card {
                width: 86%;
                height: 10%;

                div {
                    display: grid;
                    grid-row: 1;
                    div {
                        height: 75px;
                        align-items: center;
                        text-align: center;
                        mat-icon {
                            width: 100%;
                            margin-bottom: -12px;
                        }

                        p{
                            margin-top: -10px;
                        }
                    }
                }
            }

            mat-expansion-panel {
                width: 100%;
                background-color: #e1fcf5;
                box-shadow: none;
                mat-expansion-panel-header {
                    background-color: white;
                    border-radius: 0;
                }
                mat-panel-title {
                    color: black;
                }
                mat-label {
                    color: rgb(195, 195, 195);
                }
                input {
                    color: black;
                }
                mat-form-field {
                    margin: 0;
                    margin: 3%;
                    width: 100%;
                }
            }

            mat-card-footer {
                p {
                    margin: 5%;
                }
            }
        }

        .card-content {
            margin-top: 5%;
            display: flex;

            p{
                margin-right: 25%;
            }
        }
    }
}

.sidenav {
    width: 250px;
    background-color: white;
    color: black;

    .logo {
        margin: 10px;
        svg {
            width: 140px;
            height: 40px;
        }
    }

    .user {
        text-align: center;
        img {
            width: 30%;
        }
        h2 {
            margin: 0;
        }
        margin-bottom: 10%;
    }

    .menu-elements {
        text-align: center;

        p {
            display: flex;
            align-items: center;
            line-height: 45px;
            width: 100%;
            margin-left: 12%;
            mat-icon {
                margin-right: 4%;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.favorite-direction {
    display: flex;
    margin: 5%;
    padding-left: 3%;
    align-items: center;

    img {
        width: 25px;
        height: 25px;
    }

    div {
        margin-left: 3%;

        h3 {
            margin: 0;
        }
        p {
            margin: 0 !important;
            margin-top: -3% !important;
            font-size: 0.8em;
            color: gray;
        }
    }
}

.footer-card-button {
    text-align: end;
    margin: 5%;

    button {
        border: none;
        width: 20%;
        padding: 2%;
        border-radius: 5px;
    }
}

.footer-favorite{
    max-height: 280px;
    overflow-y: scroll;
    border-bottom: solid 1px rgb(231, 231, 231);
}
